{% if site.google_analytics %}
    <script type="text/javascript">
    function setupGoogleAnalytics(trackingCode) {
      if (trackingCode) {
        // Create a script element for gtag.js
        var gtagScript = document.createElement('script');
        gtagScript.async = true;
        gtagScript.src = 'https://www.googletagmanager.com/gtag/js?id=' + trackingCode;
    
        // Append the script element to the document's head
        document.head.appendChild(gtagScript);
    
        // Define the gtag function and configure the tracking
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', trackingCode);
      }
    }
</script>
{% endif %}

<!-- {% if site.google_analytics %}
    <script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');
    </script>
{% endif %} -->
